/*** =========   Tree  BEGIN  ========= ***/
.controlTree-main{
    padding-left:20px;
}
.controlTree-context{
    display:inline-block;
    cursor:pointer;
}
.controlTree-context>img{
    width:14px;
}
.controlTree-context>img,.controlTree-context>span{
    display:inline-block;
    vertical-align:middle;
}
.controlTree-context>.spreadList{
    width:20px;
    height:12px;
    line-height:12px;
    background-color:#8c8c8c;
    border-radius:8px;
    margin-left:4px;
    text-align:center;
}

.controlTree-context>.spreadList:hover{
    background-color:#f9a206;
}
.controlTree-context>.spreadList:active{
    background-color:#45d2af;
}
.controlTree-context>.spreadList:after{
    content:"";
    display:inline-block;
    width:6px;
    height:6px;
    border-left:1px solid #000;
    border-top:1px solid #000;
    transform: rotate(45deg);
}
.controlTree-context>.spreadList.active{
    line-height:6px;
}
.controlTree-context>.spreadList.active:after{
    content:"";
    display:inline-block;
    width:6px;
    height:6px;
    border-left:1px solid #000;
    border-top:1px solid #000;
    transform: rotate(222deg);
}
.controlTree-sonList{
    text-indent:30px;
}
/*** =========   Tree  END  ========= ***/




